@model IEnumerable<MO.DA.FORM.Models.Homework>
@{
    <link rel="stylesheet" href="~/css/lk.css"/>
    <link rel="stylesheet" href="~/css/Homework.css"/>


    @section DropMenu{
        <li class="menu_item">
            <a href="https://e.mospolytech.ru/#/home" style=" text-decoration:none; ">
                <button class="btn btn-light" type="button" style="width:100%">Личный кабинет Политеха</button>
            </a>
        </li>
        <hr class="hr"/>

        <li>
            <a asp-controller="Users" asp-action="Details" asp-route-id="@User.Identity.Name.ToString()">
                <button class="btn btn-light" type="button" style="width:100%">Профиль</button>
            </a>
        </li>
        <hr class="hr" />

        <li class="menu_item">
            <a asp-controller="Users" asp-action="Logout" >
                <button class="btn btn-danger" type="button" style="width:100%">Выйти из аккаунта</button>
            </a>
        </li>
       

       
    }
   
    <div>
        <h2>Домашнее задание</h2>
        <a asp-controller="Homework" asp-action="Create">
            <button class="btn btn-secondary">Добавить обязательные задания</button>
        </a>
        <div>
            <div class="offcanvas-body">
                @foreach (var item in Model.Reverse())
                {
                    <div class="lk-chapter">

                        <h1 style="font-family:Gilroy;">
                           Предмет @Html.DisplayFor(modelItem => item.subject)
                        </h1>
                        <hr class="hr" />
                        <p>
                            <h2>Задание</h2> <br><br><pre>@Html.DisplayFor(modelItem => item.text)</pre>
                        </p>
                        <hr class="hr"/>

                        <p id="datetime" style="">
                            Дата сдачи работы, просрочишь = смерть:
                        @Html.DisplayFor(modelItem => item.deadline)
                        </p>
                        <a asp-controller="Homework" asp-action="Delete" asp-route-id="@item.id"><button class="btn btn-danger"> Удалить</button></a>
                        <a asp-controller="Homework" asp-action="Edit" asp-route-id="@item.id">
                            <button class="btn btn-outline-light" style="float:right">
                                Редактировать
                            </button>
                        </a>
                        
                       
                    </div>
                }
            </div>
        </div>
    </div>
   
}
    
