@model IEnumerable<MO.DA.FORM.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Post.css"/>
<h1>Новостная лента</h1>

<div style="display:flex;">
    <div>
        <a asp-action="Create">
            <button class="btn btn-success">Создать публикацию</button>
        </a>
    </div> 
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Сортировать по типу поста
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            @foreach (var item in Model.Reverse())
            {
                <li><a asp-action="FiltredPost" asp-route-type="@item.type">@Html.DisplayFor(modelItem => item.type)</a></li>
            }
        </ul>
    </div> 
</div>
<hr class="hr" />
@foreach (var item in Model.Reverse())
{
    <div class="post">
        <h1>
            @Html.DisplayFor(modelItem => item.type)
        </h1>
        <hr class="hr" />
        <p>
            @Html.DisplayFor(modelItem => item.text)
        </p>
        
        <div>
            @{
                if (item.file != null)
                {
                    <hr class="hr" />
                    @Html.Raw("<img style='display: block; width: auto; height: auto; max-width: 1024px; max-height: 500px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.file) + "\" />")
                    ;
                }                    
            }
        </div>
        <hr class="hr" />
        <div>
            <a asp-action="Edit" asp-route-id="@item.post_id">Редактировать</a> |
            <a asp-action="Delete" asp-route-id="@item.post_id">Удалить</a>
        </div>
        <hr class="hr" />
        <p id="datetime">
            Дата: @Html.DisplayFor(modelItem => item.datetime)
        </p>
    </div>
}
<a asp-action="Index">Назад</a>