@model IEnumerable<MO.DA.FORM.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Post.css"/>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="post">

        <h1>
            @Html.DisplayFor(modelItem => item.type)
        </h1>
        <p>
            @Html.DisplayFor(modelItem => item.text)
        </p>
        <div>
            @{
                if (item.file != null) { @Html.Raw("<img style='width:380px; height:360px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.file) + "\" />"); }
                else
                {
                    <p>кратинки нет и не будет </p>
                }
                    
            }
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@item.post_id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.post_id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.post_id">Delete</a>
        </div>
        <p id="datetime">
            Дата: @Html.DisplayFor(modelItem => item.datetime)<!--($"{item.datetime.Day}.{item.datetime.Month}.{item.datetime.Year}")-->
        </p>

    </div>
}
